---
import Posts from "../../components/Posts.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog | EasyBank">
  <section class="section | bg-neutral-200">
    <div class="container flow" data-flow-space="lg">
      <h1 class="heading-2">All Articles</h1>
      <Posts />
    </div>
  </section>
</BaseLayout>
