---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Not Found | EasyBank">
  <section class="section">
    <div class="container">
      <div class="flow | text-center">
        <h1 class="heading-1">404 :(</h1>
        <p class="text-center">
          Couldn't find the requested page. Back to <a href="/">Homepage</a>
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
