---
import BaseLayout from "../layouts/BaseLayout.astro";
import Features from "../components/Features.astro";
import Button from "../components/Button.astro";
---

<BaseLayout title="About Us">
  <section class="section | bg-neutral-700 text-neutral-300">
    <div class="container">
      <div class="even-columns | swap-order-sm-screen" data-columns-gap="xl">
        <div class="flow">
          <h1 class="heading-1 | text-neutral-200">Who We Are</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus deserunt nihil sit est quibusdam blanditiis dolorem
            dignissimos minima id. Illum eum non ut a amet dignissimos aliquid,
            nobis error voluptatum.
          </p>
          <p>
            Temporibus error vel eius ducimus ab voluptates accusamus explicabo
            quidem ex soluta iure quasi, nihil, assumenda repellendus
            reprehenderit laudantium? Nesciunt inventore natus hic optio nobis
            expedita, cum saepe assumenda dolor!
          </p>
          <Button as="link" href="#">Learn more</Button>
        </div>
        <div>
          <img
            class="blob-1"
            src="src/assets/images/people-looking-at-laptop.jpg"
            alt="A group of people looking at a laptop"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section | reset-content-width | bg-neutral-200">
    <div class="container flow" data-type="narrow" data-flow-space="xl">
      <header class="flow | text-center">
        <h2 class="heading-2">Our Story</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, et!
        </p>
      </header>

      <article class="flow">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure autem
          vel exercitationem, ipsa at tenetur repellendus reiciendis fugiat
          praesentium molestiae ratione ducimus minus laudantium. Magni, beatae?
          Commodi quis sunt aliquam.
        </p>
        <figure>
          <img
            src="src/assets/images/long-road-journey.jpg"
            alt="A long road journey"
          />
          <figcaption>A long road journey</figcaption>
        </figure>
        <p>
          Veniam, soluta aspernatur cumque ad omnis quidem error exercitationem
          nobis delectus quisquam consectetur eaque quam dolorem porro
          voluptates quas est cum deserunt, illo fugit? Autem amet ipsa sapiente
          molestiae magnam!
        </p>
        <blockquote>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
          perferendis nam? Optio aperiam voluptatibus praesentium!
        </blockquote>
        <p>
          Sequi voluptatibus accusantium, est soluta laboriosam voluptatem
          nostrum vitae amet deserunt. Mollitia similique officia aliquid
          perspiciatis placeat autem recusandae odit laudantium, illum accusamus
          pariatur fuga praesentium? Veritatis enim amet laudantium. Magnam
          nobis ipsum officiis est ratione exercitationem nisi culpa dolor
          mollitia nihil debitis aut aliquid quaerat, quos laudantium labore ab
          iste explicabo qui libero quam dolorem. Vitae alias illo deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
          mollitia, nisi numquam quis perspiciatis facilis, enim repudiandae, id
          expedita quibusdam est. Vero cumque ipsam quis error minus a
          voluptatibus quaerat?
        </p>
      </article>
    </div>
  </section>

  <section class="section | bg-neutral-300 | center-on-small-screen">
    <div class="container flow" data-flow-space="xl">
      <header class="flow">
        <h2 class="heading-2">Why choose Easybank?</h2>
        <p>
          We leverage Open Banking to turn your bank account into your financial
          hub. Control your finances like never before.
        </p>
      </header>

      <Features />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="even-columns" data-columns-gap="xl">
        <div>
          <img
            class="blob-2"
            src="src/assets/images/team-working-together.jpg"
            alt="A team working together"
          />
        </div>
        <div class="flow">
          <h2 class="heading-2">Careers</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
            voluptatem error perferendis a natus aperiam quam beatae aspernatur
            ab culpa nisi doloribus excepturi dolor sit asperiores suscipit
            debitis, illum illo.
          </p>
          <p>
            Temporibus est incidunt atque, adipisci reprehenderit optio id
            recusandae iste quaerat hic minus laboriosam dolore similique
            explicabo, repudiandae rerum nemo. Ipsa quos suscipit reprehenderit.
            Recusandae laboriosam officiis mollitia natus omnis?
          </p>
          <Button as="link" href="/careers">Learn more</Button>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
