---
import BaseLayout from "../layouts/BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title + " - Coming Soon"}>
  <section class="section">
    <div class="container">
      <div class="flow | text-center">
        <h1 class="heading-1">Coming Soon...</h1>
        <p class="text-center">Back to <a href="/">Homepage</a></p>
      </div>
    </div>
  </section>
</BaseLayout>
